@value colors: "styles/colors.module.css";
@value primary from colors;

@value theme: "styles/theme.module.css";
@value borderRadius from theme;

.container {
	display: flex;
	flex-direction: column;

	margin: 12px;
	align-items: center;
	padding: 12px;
	min-width: 48px;

	cursor: pointer;
	border: 2px solid #333;
	border-radius: borderRadius;
	box-sizing: border-box;
}

.selected {
	background-color: primary;
}	